version: '3'
services:
  app:
    build:
      context: .
      args:
        GITHUB_ACCOUNT_NAME: ${GITHUB_ACCOUNT_NAME}
        APP_NAME: ${APP_NAME}
    tty: true
    command: "air -c .air.toml"
    ports:
      - "8080:8080"
    volumes:
      - .:/go/src/${GITHUB_ACCOUNT_NAME}/${APP_NAME}
